<?xml version="1.0"?>
<configuration>
  <configSections>
	  <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	  <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PosStation.DisplayStation.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Anomalia" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add databaseInstanceName="LogDataBase" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Database Trace Listener"/>
      <add fileName="trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="FlatFile TraceListener"/>
    </listeners>
    <formatters>
      <add template="Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"






    type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Category Filter">
        <categoryFilters>
          <add name="Accion"/>
          <add name="Canastilla"/>
          <add name="IbuttonCola"/>
          <add name="General"/>
          <add name="Ibutton"/>
          <add name="SeguimientoCodigo"/>
          <add name="EventoSistema"/>
          <add name="Estado"/>
          <add name="EventoSurtidor"/>
          <add name="AnomaliasVentas"/>
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="Off" name="Accion">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="Off" name="AnomaliasVentas">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="ReintentosVentas">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="LogueoAutorizador">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="Anomalia">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="FallaStoredProcedure">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="ImpresionRecibos">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="Eventos">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>


      <add switchValue="All" name="ImpresionTurnos">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="Ventas">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="Off" name="Canastilla">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Comunicacion">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="Estado">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="EventoSistema">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="EventoSurtidor">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="General">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="Ibutton">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="IbuttonCola">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="SeguimientoCodigo">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
	    <add name="HADIDeveloper"   providerName="System.Data.SqlClient"  connectionString="server=localhost\Sqlexpress;database=Hadi;Integrated Security=True;" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="HADIDeveloper"/>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <PosStation.DisplayStation.My.MySettings>
      <setting name="NombreServicio" serializeAs="String">
        <value>MSSQL$SQLEXPRESS</value>
      </setting>
      <setting name="Url" serializeAs="String">
        <value>net.tcp://localhost:9000/servicemodelsamples/ServiceSharedEvent</value>
      </setting>
    </PosStation.DisplayStation.My.MySettings>
  </applicationSettings>
</configuration>
