<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Procesos" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
    <connectionStrings>
        <add name="LogDataBase" connectionString="database=Logging;server=localhost\Sqlexpress;Integrated Security=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<Procesos>
		<add value="Autorización Ventas" key="AutorizacionFallidasVenta"/>
		<add value="Modificación de Ventas" key="CambioFormaPagoFallida"/>
		<add value="Cierre Tanques" key="CierreTanquesFallido"/>
		<add value="Turno" key="ManejoTurnos"/>
	</Procesos>
	
</configuration>
