<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging,Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskManagement.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="gasolutions.Configurador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gasolutions.ToolsStation.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HADIDeveloper" connectionString="server=localhost\sqlexpress;database=EDS_Sancarlos;Integrated Securit=true;" providerName="System.Data.SqlClient"/>
    <add name="gasolutions.uinterface.Properties.Settings.HADIConnectionString" connectionString="server=server=localhost\sqlexpress;database=Logging;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="gasolutions.Configurador.Properties.Settings.HADIConnectionString" connectionString="Data Source=localhost;Initial Catalog=Logging;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="LogDataBase" connectionString="database=Logging;server=localhost\Sqlexpress;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="HADIDeveloper"/>

  <applicationSettings>
    <TaskManagement.My.MySettings>
      <setting name="TimeLoad" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TimeOutSuic" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="NombreServicio" serializeAs="String">
        <value>MSSQL$SQLEXPRESS</value>
      </setting>
      <setting name="RutaSuic" serializeAs="String">
        <value>C:\SUIC</value>
      </setting>
      <setting name="NombreArchivoSuic" serializeAs="String">
        <value>cert</value>
      </setting>
    </TaskManagement.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
