<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ComunicadorChile.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="gasolutions.ComunicadorGST.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="gasolutions.Comunicador.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
      defaultCategory="Ibutton" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add databaseInstanceName="LogDataBase" writeLogStoredProcName="WriteLog"
        addCategoryStoredProcName="AddCategory" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="Database Trace Listener" />
      <add fileName="Autorizador.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Off" name="Accion">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Anomalia">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="Canastilla">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Comunicacion">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="Estado">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="EventoSistema">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="EventoSurtidor">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="General">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="Ibutton">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="IbuttonCola">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="SeguimientoCodigo">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="Ventas">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="HADIDeveloper" connectionString="server=ORION;database=Hadi;Integrated Security=false;uid=sa;password=g2s0t07"      providerName="System.Data.SqlClient" />
    <add name="LogDataBase" connectionString="server=ORION;database=logging;Integrated Security=false;uid=sa;password=g2s0t07"      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <dataConfiguration defaultDatabase="HADIDeveloper"/>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <ComunicadorChile.My.MySettings>
      <setting name="RastrearTareas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Archivo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NombreServicio" serializeAs="String">
        <value>MSSQL$SQLEXPRESS</value>
      </setting>
      <setting name="ComunicadorChile_Comunicacion_Comunicacion" serializeAs="String">
        <value>http://localhost:50050/Comunicacion.asmx</value>
      </setting>
      <setting name="Timer" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Ventas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Turnos" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CierreDia" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reversiones" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Abonos" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Canastilla" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotasCredito" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VentasNumeros" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnviarTurnoCDC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnviarCierreDiaCDC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ComunicadorCDCIG_CDCIG_Comunicacion" serializeAs="String">
        <value>http://localhost/ComunicacionesWS/Comunicacion.asmx</value>
      </setting>
      <setting name="VentasPKE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ComunicadorCDCIG_SRE_Recaudo" serializeAs="String">
        <value>http://localhost:56051/WebRecaudos/Recaudo.asmx</value>
      </setting>
      <setting name="MovimientosCanastilla" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CDC" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ComunicadorCDCIG_CDCIGTerpel_Comunicacion" serializeAs="String">
        <value>http://localhost/comunicacionesws/comunicacion.asmx</value>
      </setting>
      <setting name="VentasCombustible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TurnosCombustible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CierreDiaCombustible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnviarTurnosTrabajo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TiempoTransmisionForzada" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="NotasCreditoSodexo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ComunicadorCDCIGTerpel_CDCIGTerpel_Comunicacion"
        serializeAs="String">
        <value>ComunicadorCDCIGTerpel_CDCIGTerpel_Comunicacion</value>
      </setting>
      <setting name="ComunicadorCRMColombia_CDCIGTerpel_Comunicacion"
        serializeAs="String">
        <value>http://localhost/ComunicacionesWs/Comunicacion.asmx</value>
      </setting>
      <setting name="MaxEnvioGanamillones" serializeAs="String">
        <value>10</value>
      </setting>
    </ComunicadorChile.My.MySettings>
    <gasolutions.ComunicadorGST.My.MySettings>
      <setting name="RastrearTareas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Archivo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NombreServicio" serializeAs="String">
        <value>MSSQL$SQLEXPRESS</value>
      </setting>
      <setting name="ComunicadorGST_Comunicacion_Comunicacion" serializeAs="String">
        <value>http://servidor001/CDIWSGASCOP/Comunicacion.asmx</value>
      </setting>
    </gasolutions.ComunicadorGST.My.MySettings>
    <gasolutions.Comunicador.My.MySettings>
      <setting name="RastrearTareas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Archivo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Comunicador_CentroInformacion_gasolutions" serializeAs="String">
        <value>http://localhost/eds/Gasolutions.asmx</value>
      </setting>
      <setting name="Comunicador_CentroInformacionGeneral_CentroInformacion"
        serializeAs="String">
        <value>http://localhost/eds/centroinformacion.asmx</value>
      </setting>
      <setting name="NombreServicio" serializeAs="String">
        <value>MSSQL$SQLEXPRESS</value>
      </setting>
      <setting name="Comunicador_ServiciosCDC_CentroInformacion" serializeAs="String">
        <value>http://zeus/EDSRemota/CentroInformacion.asmx</value>
      </setting>
      <setting name="Comunicador_Comunicacion_Comunicacion" serializeAs="String">
        <value>http://servidor001/CDCWService/Comunicacion.asmx</value>
      </setting>
    </gasolutions.Comunicador.My.MySettings>
  </applicationSettings>
</configuration>