<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging,Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PosConfiguracion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   <section name="gasolutions.Configurador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		    <add name="HADIDeveloper" connectionString="server=ORION;database=Hadi;Integrated Security=false;User ID=sa;Password=g2s0t07;" providerName="System.Data.SqlClient"/>
    <!--<add name="HADIDeveloper" connectionString="Data Source=CENTRAL\CENTRAL2008R2;Initial Catalog=HadiPosColombia;Persist Security Info=false;User ID=sa;Password=g2s0t07;" providerName="System.Data.SqlClient"/>-->
		<add name="LogDataBase" connectionString="database=Logging;server=localhost\sqlexpress;Integrated Security=true;" providerName="System.Data.SqlClient"/>
   		<add name="gasolutions.uinterface.Properties.Settings.HADIConnectionString" connectionString="server=localhost\sqlexpress;database=HADI;Integrated Security=true" providerName="System.Data.SqlClient"/>
		<add name="gasolutions.Configurador.Properties.Settings.HADIConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=HADI;Integrated Security=True" providerName="System.Data.SqlClient"/>
	
	</connectionStrings>
	<dataConfiguration defaultDatabase="HADIDeveloper"/>
  <system.web>
    <roleManager enabled="true" defaultProvider="Sql2005Provider">
      <providers>
        <clear/>
        <add name="Sql2005Provider" type="System.Web.Security.SqlRoleProvider" connectionStringName="HADIDeveloper" applicationName="FullStation"/>
      </providers>
    </roleManager>
    <membership defaultProvider="Sql2005Provider">
      <providers>
        <clear/>
        <add name="Sql2005Provider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="HADIDeveloper" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="FullStation" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile defaultProvider="Sql2005Provider">
      <providers>
        <clear/>
        <add name="Sql2005Provider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="HADIDeveloper" applicationName="FullStation"/>
      </providers>
      <properties>
        <group name="UsuariosEspecificos">
          <add name="FullStation"/>
        </group>
      </properties>
    </profile>
  </system.web>
  <applicationSettings>
		<PosConfiguracion.Properties.Settings>
    <setting name="NombreServicio" serializeAs="String">
		<value>MSSQL$SQLEXPRESS</value>
		<!--<value>MSSQLSERVER</value>-->
    </setting>
    <setting name="ApplicationMembership" serializeAs="String">
      <value>FullStation</value>
    </setting>
  </PosConfiguracion.Properties.Settings>
 	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
