<?xml version="1.0"?>
<configuration>
	<configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging,Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="POSstation.Herramientas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   <section name="gasolutions.Configurador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="POSstation.Herramientas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="HADIDeveloper" connectionString="server=localhost\sqlexpress;database=Hadi;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="LogDataBase" connectionString="database=Logging;server=localhost\Sqlexpress;Integrated Security=true;" providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<dataConfiguration defaultDatabase="HADIDeveloper"/>
  <system.web>
    <roleManager enabled="true" defaultProvider="Sql2005Provider">
      <providers>
        <clear/>
        <add name="Sql2005Provider" type="System.Web.Security.SqlRoleProvider" connectionStringName="HADIDeveloper" applicationName="FullStation"/>
      </providers>
    </roleManager>
    <membership defaultProvider="Sql2005Provider">
      <providers>
        <clear/>
        <add name="Sql2005Provider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="HADIDeveloper" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="FullStation" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile defaultProvider="Sql2005Provider">
      <providers>
        <clear/>
        <add name="Sql2005Provider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="HADIDeveloper" applicationName="FullStation"/>
      </providers>
      <properties>
        <group name="UsuariosEspecificos">
          <add name="FullStation"/>
        </group>
      </properties>
    </profile>
  </system.web>
 <applicationSettings>
  <POSstation.Herramientas.My.MySettings>
   <setting name="TiempoEspera" serializeAs="String">
    <value>1600</value>
   </setting>
  </POSstation.Herramientas.My.MySettings>
  <gasolutions.Configurador.Properties.Settings>
   <setting name="NombreServicio" serializeAs="String">
    <value>MSSQL$SQLEXPRESS</value>
   </setting>
    <setting name="ApplicationMembership" serializeAs="String">
      <value>FullStation</value>
    </setting>
  </gasolutions.Configurador.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
  <POSstation.Herramientas.My.MySettings>
   <setting name="DataBases" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>Hadi</string>
      <string>Logging</string>
      <string>Mandino</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="NombreServicio" serializeAs="String">
    <value>MSSQL$SQLEXPRESS</value>
   </setting>
  </POSstation.Herramientas.My.MySettings>
 </userSettings>
</configuration>
