<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AccesoDirectoSauce.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <AccesoDirectoSauce.My.MySettings>
            <setting name="SUIC" serializeAs="String">
                <value>ImportadorSUIC.exe</value>
            </setting>
            <setting name="Configurador" serializeAs="String">
                <value>PosConfiguracion.exe</value>
            </setting>
            <setting name="Administracion" serializeAs="String">
                <value>DataAdminStation.exe</value>
            </setting>
            <setting name="Seguridad" serializeAs="String">
                <value>SecurityStation.exe</value>
            </setting>
            <setting name="VistaEstacion" serializeAs="String">
                <value>DisplayStation.exe</value>
            </setting>
            <setting name="ConsultasLog" serializeAs="String">
                <value>ConsultasLog.exe</value>
            </setting>
            <setting name="Canastilla" serializeAs="String">
                <value>Sistema Canastilla Sauce\AdministracionProductosSauce.exe</value>
            </setting>
            <setting name="Herramientas" serializeAs="String">
                <value>Herramientas.exe</value>
            </setting>
        </AccesoDirectoSauce.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
