<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gasolutions.Fidelizador.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Anomalia" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add databaseInstanceName="LogDataBase" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Database Trace Listener"/>
      <add fileName="trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="FlatFile TraceListener"/>
    </listeners>
    <formatters>
      <add template="Message: {message}
Category: {category}
Machine: {machine}
Application Domain: {appDomain}
Process Name: {processName}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Category Filter">
        <categoryFilters>
          <add name="Accion"/>
          <add name="Canastilla"/>
          <add name="IbuttonCola"/>
          <add name="General"/>
          <add name="Ibutton"/>
          <add name="SeguimientoCodigo"/>
          <add name="EventoSistema"/>
          <add name="Estado"/>
          <add name="EventoSurtidor"/>
          <add name="AnomaliasVentas"/>
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="Off" name="Accion">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="Off" name="AnomaliasVentas">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="ReintentosVentas">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="LogueoAutorizador">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="Anomalia">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="FallaStoredProcedure">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="ImpresionRecibos">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="Eventos">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>


      <add switchValue="All" name="ImpresionTurnos">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="All" name="Ventas">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

      <add switchValue="Off" name="Canastilla">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Comunicacion">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="Estado">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="EventoSistema">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="EventoSurtidor">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="General">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="Ibutton">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="IbuttonCola">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="SeguimientoCodigo">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>

    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="HADIDeveloper"/>
  <connectionStrings>
    <add name="HADIDeveloper" connectionString="server=localhost\Sqlexpress;database=HADI;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="LogDataBase" connectionString="database=Logging;server=localhost\Sqlexpress;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <gasolutions.Fidelizador.My.MySettings>
            <setting name="Fidelizador_Fidelizacion_Fidelizacion" serializeAs="String">
                <value>http://localhost:49648/ServiciosFidelizacion/Fidelizacion.asmx</value>
            </setting>
            <setting name="NombreServicio" serializeAs="String">
                <value>MSSQL$SQLEXPRESS</value>
            </setting>
            <setting name="RastrearTareas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Archivo" serializeAs="String">
                <value>False</value>
            </setting>
        </gasolutions.Fidelizador.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
